<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Contact Us
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="card-background-page">
    <ion-card class="welcome-card">
        <ion-img src="/assets/phone.png"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>Get Started</ion-card-subtitle>
          <ion-card-title>Reach us over Phone</ion-card-title>
        </ion-card-header>
      </ion-card>

      <ion-card class="welcome-card">
        <ion-img src="/assets/email.png"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>Get Started</ion-card-subtitle>
          <ion-card-title>Reach us over email</ion-card-title>
        </ion-card-header>
      </ion-card>
      <ion-card class="welcome-card">
        <ion-img src="/assets/location.png"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>Get Started</ion-card-subtitle>
          <ion-card-title>Garments Biznic::map</ion-card-title>
        </ion-card-header>
      </ion-card>
  </ion-content>