<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card" >
      <ion-img src="/assets/wholesale.png"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Garments Biz</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button href="/list">list of sellers</ion-button>
        <p>Check out all genuine sellers (Manufacturers) and variery of Men Jeans & Casuals</p>
      </ion-card-content>
      <ion-row no-padding>
        <ion-col>
          <button ion-button clear small color="danger" icon-start (click)="alert()">
            <ion-icon name='star'></ion-icon>
            Favorite
          </button>
        </ion-col>
        <ion-col text-center>
          <button ion-button clear small color="danger" icon-start (click) = "goAnOtherPage()">
            <ion-icon name='contact'></ion-icon>
            Contact
          </button>
        </ion-col>
        <ion-col text-right>
          <button ion-button clear small color="danger" icon-start (click)="test()">
            <ion-icon name='share-alt'></ion-icon>
            Share
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card class="welcome-card">
      <ion-img src="/assets/pep.png"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Garments Biz</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Coming Soon!!</p>
      </ion-card-content>
    </ion-card>
    <ion-card class="welcome-card">
      <ion-img src="/assets/sample.png"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Garments Biznic</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Coming Soon!!</p>
      </ion-card-content>
    </ion-card>
    <ion-row no-padding>
      <ion-col>
          <ion-icon name='star'></ion-icon>
          Like
      </ion-col>
      <ion-col text-center>
          <ion-icon name='contact'></ion-icon>
          Contact
      </ion-col>
      <ion-col text-right>
          <ion-icon name='share-alt'></ion-icon>
          Share
      </ion-col>
    </ion-row>
</ion-content>
